.paste-button {
    position: relative;
    margin-left: 0%;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    
  }
  .icon{
    width: 5%;
    height: 5%;
  }
  .button {
    background-color: #4c81afc6;
    color: #293391;;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    width: 45%;
    height: 10%; 
  }
  
 
  .button:hover {
    border-radius: 15px 15px 0px 0px;
  }
  
  
  